<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Amazon_sim">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Amazon_sim">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screen.address.AddressActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.address.AddEditAddressActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.productdetail.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.search.SearchActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.search.SearchResultActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.order.OrderActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.order.OrderDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.checkout.PaymentMethodActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.checkout.CheckoutActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.menu.CategoryProductsActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.lists.ListsActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.lists.ShoppingListDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.customerservice.CustomerServiceActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.store.StoreActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
        <activity
            android:name=".ui.screen.buyagain.BuyAgainActivity"
            android:exported="false"
            android:theme="@style/Theme.Amazon_sim" />
    </application>

</manifest>